@charset "ISO-8859-1";
body {
	font-family: Tahoma, Arial, Verdana !important;
	font-size: 12px !important;
	color: white !important;
	background-color: #222222 !important;
	height: 100% !important;
	margin-bottom: 10px !important;
    width: 100%; 
}

::-webkit-scrollbar{
  width:8px;
} 

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.kitPageChartContainer.loading{
    border: 20px solid #f3f3f3; /* Light grey */
    border-top: 20px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin: 25px auto 40px auto !important;
    animation: spin 2s linear infinite;
}

.loading >  .kitPageChart{
    display: none;
}


::-webkit-scrollbar-thumb{
   	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	border-radius: 7px;
	background-color: #ababab;
}

select option {
    color: #000000;
}

.dashboard-title {
	color: white !important;
	font-size: 22px;
	margin-top: 3px;
	font-weight: bold;
	text-decoration: none;
}

.dashboard-title h1 {
    color: white !important;
}

.dashboard-title a {
    color: white !important;
}

#username_display_text {
    color: #999 !important;
}
table.datatable {
	background-color: #222222;
	color: white;
	font-size: 90%;
	border: 1px solid white;
}

th.datatable {
	font-weight: bold;
	border: 1px solid white;
}

th.datatable_title {
	font-weight: bold;
	font-size: 110%
}

td.datatable {
	text-align: center;
	border-right: 1px dashed white;
	border-bottom: 1px dashed white;
}

td:last-child.datatable {
	text-align: center;
	border-right: 0;
}

td.datatable_bottomRow {
	text-align: center;
	border-right: 1px dashed white;
	border-bottom: 0;
}

td.datatable_topRow {
	text-align: center;
	border-right: 1px dashed white;
	border-top: 1px solid white;
	border-bottom: 1px dashed white;
}

td:last-child.datatable_bottomRow {
	text-align: center;
	border-right: 0;
	border-bottom: 0;
}

td:last-child.datatable_topRow {
	text-align: center;
	border-right: 0;
	border-top: 1px solid white;
	border-bottom: 1px dashed white;
}


#title {
	font-size: 22px;
	color: white;
	padding: 10px 15px 0px 12px;
	font-weight: bold;
}

#searchbar {
	font-size: 20px;
	color: white;
	padding: 10px;
}

#helpicon {
	font-size: 20px;
	color: white;
	padding: 10px;
	cursor: help;
}

div.tabsContainer {
	background: none repeat scroll 0% 0% black;
	height: 100% !important;
}

div.panelsContainer {
	background: none repeat scroll 0% 0% #222222;
	height: 100%;
	margin: 0 8px 8px 8px;
}

div.tabsPanel {
	height: 100%;
}

div.chartContainer {
	width: 100%;
	/*fail over if browser doesn't support viewport height*/
	min-height: 700px;
	/*70% of viewport height*/
	min-height: 70vh;
	background-color: #222222;
}


/*#wraperDiv {
    padding-left: 225px;
    height: 100% !important;
}*/

.disclaimer {
	font-size: 10px;
	color: white;
	margin: 10px;
	width: 400px;
}

.ui-tabs .ui-tabs-panel {
	border-width: 1px !important;
	border-color: #505050 !important;
}

.ui-tabs .ui-tabs-nav {
	background: black;
	border: 0px !important;
	border-color: #fff;
	padding: 8px 8px 0px 8px !important;
}

.ui-tabs .ui-tabs-nav li {
	background: #303030;
	border-color: #505050 !important;
}

.ui-tabs .ui-tabs-nav li a {
	font-size: 13px;
	color: #E0E0E0;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	background-color: #505050 !important;
}

.ui-tabs .ui-tabs-nav li a:hover {
	background: #505050;
}

.ui-tabs {}

.gobacklink {
	/*
    margin:0px; 
    padding:10px 0 0 20px;  
    width:150px;
    float:left;
    height:100%; 
    */
	margin: 0px;
	padding: 0px 0 0 0px;
	width: 150px;
	float: left;
	height: 100%;
}

.gobacklink_manual {
	/*
    margin:0px; 
    padding:10px 0 0 20px;  
    width:150px;
    float:left;
    */
	margin: 0px;
	padding: 0px 0 0 0px;
	width: 150px;
	float: left;
}


/*
#logo{
    
    padding:0px 0 0 0; 
    width:150px; 
    height:150px; 
    float:right; 
    
}
*/

#siteUnavailable {
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: #222222;
    font-size: 26px;
    text-align: center; 
}

#siteUnavailable a {
    color: #ff7f50;
}

#siteUnavailable a:hover {
    color: #cd853f;
}

#kitData,
#bvaData {
	width: 100%;
	height: 100%;
	margin: 30px 0 0 0;
	padding: 0px;
	font-family: Tahoma, Arial, Verdana !important;
	font-size: 16px !important;
	color: white !important;
}

#kitData h3,
#bvaData h3 {
	font-family: Tahoma, Arial, Verdana !important;
	font-size: 16px !important;
	color: white !important;
	font-weight: bold;
}

#kitData h3 a,
#bvaData h3 a {
	text-decoration: underline;
}

#SC_Theme_Logo {
	float: right;
	right: 0;
	left: auto;
}

#topTable {
	font-size: 16px;
}

#topContainer {}

#otherTable {
	margin: 0px 10px 0px 10px;
}

.tableLabel {
	font-weight: bold;
	min-width: 100px;
}

#chartLayoutTable td {
	width: 50% !important;
}

#chartsDiv {
	margin: 100px 0 0 0;
}

.hide {
	display: none;
}

.placeholder {}

a:link.gobacklink,
a:visited.gobacklink,
a:active.gobacklink,
a:link.gobacklink_manual,
a:visited.gobacklink_manual,
a:active.gobacklink_manual {
	font-family: Verdana;
	font-size: 15px;
	font-weight: bold;
	color: white;
	text-decoration: none;
}

a:hover.gobacklink,
a:hover.gobacklink_manual {
	font-family: Verdana;
	font-size: 15px;
	font-weight: bold;
	color: darkgray;
	text-decoration: none;
}

a.showTableLink,
a.showAllGraphsLink {
	font-size: 16px;
	font-weight: bold;
}

a:link.showTableLink,
a:visited.showTableLink,
a:active.showTableLink,
a:link.showAllGraphsLink,
a:visited.showAllGraphsLink,
a:active.showAllGraphsLink {
	color: #FFFFFF;
	text-decoration: none;
}

a.showAllGraphsLink {
	float: center;
}

a:hover.showTableLink,
a:hover.showAllGraphsLink {
	color: darkgray;
	text-decoration: none;
}

a:link.showTableSC,
a:visited.showTableSC,
a:active.showTableSC {
	color: #FFFFFF;
}

a:hover.showTableSC {
	color: darkgray;
}

a:link#WSRlink,
a:visited#WSRlink,
a:active#WSRlink {
	color: #FFFFFF !important;
}

a:hover#WSRlink {
	color: darkgray !important;
}

a:link.emptyTableSC,
a:visited.emptyTableSC,
a:active.emptyTableSC,
a:hover.emptyTableSC {
	color: #FFFFFF;
	text-decoration: none;
}

#runtimePie_chartdiv .c3-chart-arc path {
	stroke: #666;
}

div.dropdownListFilters {
	margin-bottom: 15px;
}

div.dropdownListFilters select {
	color: black;
	width: 300px;
}

.metricTitle {
	font-size: 15px;
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
}

.searchMetricTitle {
	font-size: 17px;
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
    padding: 20px 0px 20px 0px;
}


#dashboardContainer {
	margin: 0px auto !important;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 90%;
}

.slick-arrow {
    height: 100% !important;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
    top: 10px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}


#topContainer a{
	color: #ffffff !important;
}

.kitPageChart {
     background-color: #222222;
}