@charset "ISO-8859-1";
.dashContainer {
    /*column-width: 320px;
	column-gap: 15px;
    width: 90%;
	max-width: 1100px;*/
	margin: 10px auto !important;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 97%;
    background-color: #222222; 
}

.container-fluid {
    background-color: #222222 !important; 
}

.slick-track {
    background-color: #222222 !important;
    overflow-x: hidden !important; 
}

.dashHeader {
    /*column-width: 320px;
	column-gap: 15px;
    width: 90%;
	max-width: 1100px;*/
	margin: 0px auto  5px auto !important;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    align-items: flex-start;
    height: 100%;
    width: 97%;
}

div.dashContainer figure {
    background: #3f3f3f;
	border: 0px solid #545454;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0px 2px 15px 10px;
	padding: 0;
	transition: opacity .4s ease-in-out;
    display: inline-block;
    width: 220px;
    height: 285px;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
    cursor: default;
}

div.dashHeader figure {
    background: #3f3f3f;
	border: 0px solid #545454;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0px 2px 15px 10px;
	padding: 0;
	transition: opacity .4s ease-in-out;
    display: inline-block;
    width: 220px;
    min-height: 200px;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
    cursor: pointer;
}

div.dashHeader figure.special.icon {/*
    background: #CD3357;
    background: linear-gradient(to right, rgba(205, 51, 87, .75) , rgba(253, 155, 64,.75)); 
	border: 0px solid #545454;
    width: 240px;
    height: 315px;
    cursor: auto;*/
    background: linear-gradient(to right, #303c51 , #242d3d); 
    cursor:auto;
    min-height: 188px !important;
}

div.dashContainer figure.special.bar {
    width: 290px;
}

div.dashContainer figure.special.number {
    background: linear-gradient(to right, #303c51 , #242d3d); /* Standard syntax */

}

div.dashContainer .large {
    width: 410px !important; 
}

div.dashHeader figure#welcome {
    width:100%;
    position: relative;
    border: 2px #102c42 dotted; 
    background-color: #112D43;
    min-height: 190px !important;
    background: linear-gradient(to right, #112D43, #0B1729, #000000);
    vertical-align: middle;
    border-radius: 15px !important;
    padding: 5px;
    cursor: default;
}

div.dashHeader figure#welcome .text {
    margin: 10px auto 0px auto !important;
    padding: 10px 15px 0px 15px;
    width: 100%;
    height: 100%;
    font-size: 13px;
    text-align: justify;
    letter-spacing: 2px;
    color: #d7d7d7;
    font-family: 'Raleway', sans-serif !important;
}

div.dashHeader figure figcaption.header {
    font-size: 18px;
    color: #d7d7d7 !important;
    padding: 5px;
    background-color: #2f2f2f;
    border-bottom: 1px solid #545454 !important;
	margin: 0px 0px 0px 0px;
    font-variant: small-caps;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 600;
    height: 35px;
    vertical-align: middle;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}



div.dashHeader figure#welcome figcaption.header {
    font-size: 30px;
    background: transparent;
    border: 0px !important;
    padding: 5px;
    text-align: center;
    width: 100%;
    position: absolute;
    pointer-events: none;
}

div.dashContainer figure figcaption.header {
    font-size: 18px;
    color: #d7d7d7 !important;
    padding: 5px;
    background-color: #2f2f2f;
    border-bottom: 1px solid #545454 !important;
	margin: 0px 0px 0px 0px;
    font-variant: small-caps;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 600;
    height: 60px;
    vertical-align: middle;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

div.dashContainer figure figcaption small {
    font-size: 12px; 
}

div.dashHeader figure.special.icon figcaption.header{

    border: 0px !important;
    font-weight: 600; 
}

div.dashHeader figure.special.icon#searchCard figcaption.header {
    height: 35px !important;
    background-color: #212937;
        border-bottom: 1px solid #505764 !important;
}

div.dashHeader figure.special.icon figcaption.subText{
    background-color: transparent !important;
    border: 0px !important;
    padding-top: 20px; 
    color: #d3d3d3;
    font-variant: normal;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: left;
}



div.dashContainer figure.special.number figcaption.header{
    background-color: #212937;
    /*background: linear-gradient(to right, #303c51 , #242d3d);   */
    border-bottom: 1px solid #505764 !important;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


div.dashContainer figure .figBody {
    padding: 0px;
    margin: auto !important;
    height: 205px;
    position: relative;
}

div.dashHeader figure#searchCard .figBody {
    height: 150px !important;
}

div.dashHeader figure .figBody {
    padding: 0px;
    margin: auto !important;
    height: 215px;
    position: relative;
}

div.dashContainer figure .figBody.loading{
    border: 20px solid #f3f3f3; /* Light grey */
    border-top: 20px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin-top: 25px !important;
    margin-bottom: 40px !important;
    animation: spin 2s linear infinite;
}

div.dashContainer figure .figBody.doneLoading {
    animation: none; 
}

.loading >  .dashboardChartContainer, .numberContainer{
    display: none;
}

.loading > .mboContainer {
    display: none;
}

.loading > .numberWrap{
    display: none;
}

.loading > .listWrap{
    display: none;
}

div.dashHeader figure.special.icon .figBody {
    padding: 5px 5px;
    margin: auto !important;
    height: 150px !important;
    position: relative;
}

div.dashHeader figure.special.icon .figBody .iconItem{

    cursor: pointer;
}

div.dashHeader figure.special.icon .figBody .iconItem:not(:hover) {
	opacity: 0.85;
}


div.dashContainer figure .figBody p.text{
    padding-top: 10px;
    font-family: Verdana, Arial, Tahoma !important;
    margin: auto !important;
    font-size: 54px;
    color: #f1f1f1;
    margin: 0px;
}

.num {
    display: inline;
}

div.dashContainer figure.special.number.mbo .figBody p.text{
    padding-top: 3px !important;
    font-size: 32px;
}

div.dashContainer figure.special.number.mbo .figBody p.text .percent{
    opacity: .8;
    font-size: 20px !important;
}

div.dashContainer figure.special.number.mbo .figBody p.text .label
 {
    font-size: 13px; letter-spacing: 0px;
    padding-left: 5px; 
}

div.dashContainer .figBody .numberWrap{
    width: 220px !important;

}


div.dashContainer .figBody .listWrap{
    width: 220px !important;
}

div.dashContainer .figBody .listWrap p.headingText {
        padding-top: 8px;
   font-family: 'Roboto', sans-serif !important;
    margin: auto !important;
    font-size: 22px;
    color: #f1f1f1;
    margin: 0px; 
}

div.dashContainer .figBody .listWrap p.listItem {
        padding-top: 4px;
    font-family: 'Roboto', sans-serif !important;
    margin: 0 !important;
    font-size: 16px;
    color: #f1f1f1;
    padding: 0px 10px 0 10px;
    text-align: left; 
}


div.dashContainer figure.special.number.mbo .figBody  .numberWrap{
    height: 100px;
}

div.dashContainer figure .figBody small{
    font-size: 25px;
    opacity: 0.7;
    font-variant: small-caps;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 15px;
}

div.dashContainer figure .figBody .line {
	float: left;
	border-bottom: 2px #a8a8a8 solid;
    text-align: center;
	width: 190px;
	height: 2px;
    margin: 0px 10px 0px 15px;
}


div.dashContainer figure.special.number.mbo .figBody .line{
    width:190px;
    padding-left: 25px !important;
}


div.dashHeader figure figcaption.footer {
    border: 0px none;
    margin: 0px 7px 0px 7px;
    padding: 0px;
    text-align: right;
    opacity: .7;
}


div.dashContainer figure figcaption.footer {
    border: 0px none;
    margin: 0px 7px 0px 7px;
    padding: 0px;
    text-align: right;
    opacity: .7;
}


div.dashContainer:hover {
    opacity: 1;
}

div.dashContainer:hover figure:not(:hover) {
	opacity: 0.4;
}




.dashboardChartContainer {
	width		: 94%;
	height		: 205px;
	font-size	: 11px;
    margin: auto !important;
}

.dashboardChartContainer.withMBO {
    width: 210px !important;
    float: left;
    margin-left: 5px !important; 
}

.mboContainer {
    width: 100%;
    height: 100px;
    margin: 0px 5px 0px 0px;
    padding: 0px;
    float: left;
}

.mboContainer:not(:hover) {
  -webkit-filter: grayscale(1);
        opacity: .6;
}

.mboContainerVert {
    width: 180px;
    height		:205px;
    margin: 0px 5px 0px 0px;
    padding: 0px;
    float: right;
}

.mboContainerVert:not(:hover) {
  -webkit-filter: grayscale(1);
        opacity: .6;
}

/* Carousel */

.carouselTitle {
    font-size: 24px; 
    font-variant: small-caps;
    font-weight: 600; 
    font-family: 'Roboto', sans-serif !important;
    letter-spacing: 3px;
    color: #D2D2D2;
    text-align: center; 
}

.slick-track {
    overflow-x: scroll;
}

.slick-prev:before {
    color: #ffffff !important; 
    font-size: 20px;
}

.slick-next:before {
    color: #ffffff !important; 
    font-size: 20px;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}

.btn-primary:hover{
  color: #ffffff;
  background-color: #0C51A1;
  border-color: #285e8e;
}