@charset "ISO-8859-1";
/*!
 * Start Bootstrap - SB Admin (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */


/* Global Styles */

body {

}

#wrapper {
	padding-left: 0;
}

#page-wrapper {
	width: 100%;
	padding: 0;
    padding-top: 40px !important;
}

.huge {
	font-size: 50px;
	line-height: normal;
}

.top-searchbar {
	margin-top: 10px;
	padding: 0px;
	display: table-cell;
	margin-right: 10px;
}

.top-user-dropdown {
	margin-top: 14px;
	margin-left: 10px;
	display: table-cell;
	padding-left: 10px;
}

#helpicon {
	margin-top: 10px;
	margin-right: 0;
    	font-size: 20px;
	color: white;
	padding: 10px;
	cursor: help;
	display: table-cell;
}

#styleToggle {
    height: 30px; 
    width: 45px; 
    display: table-cell;
    padding: 10px
}

@media (min-width: 768px) {
	.navbar-right {
		float: none;
	}
}

@media (max-width: 991px) {
	.navbar-header {
		float: none;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin: 7.5px -15px;
	}
	.navbar-nav>li {
		float: none;
        color:#999;
	}
    .navbar-nav>li>a:hover,
    .navbar-nav>li>a:focus {
		float: none;
        color:#999;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.navbar-text {
		float: none;
		margin: 15px 0;
	}
	/* since 3.1.0 */
	.navbar-collapse.collapse.in {
		display: block!important;
	}
	.collapsing {
		overflow: hidden!important;
	}
	.navbar-right {
		float: right!important;
	}
}

@media (max-width: 1485px) {
	#top_link_list {
		display: none;
	}
}

@media(min-width:992px) {
	body {
		margin-top: 50px;
	}
	#wrapper {
		padding-left: 0px;
	}
	#page-wrapper {
		padding: 10px;
	}
}


/* Top Navigation */

.top-nav {
	padding: 0 15px;
}

.top-nav>li {
	display: inline-block;
	float: left;
}

li.toplink {
	font-size: 12px;
}

.top-nav>li>a {
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 20px;
	color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
	color: #fff;
	background-color: #000;
}

.top-nav>.open>.dropdown-menu {
	float: left;
	position: absolute;
	margin-top: 0;
	border: 1px solid rgba(0, 0, 0, .15);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-color: #fff;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);

}

.top-nav>.open>.dropdown-menu>li>a {
	white-space: normal;
}

.dropdown>a {
	text-decoration: none;
}

ul.message-dropdown {
	padding: 0;
	max-height: 250px;
	overflow-x: hidden;
	overflow-y: auto;
}

li.message-preview {
	width: 275px;
	border-bottom: 1px solid rgba(0, 0, 0, .15);
}

li.message-preview>a {
	padding-top: 15px;
	padding-bottom: 15px;
}

li.message-footer {
	margin: 5px 0;
}

ul.alert-dropdown {
	width: 200px;
}


/* Side Navigation */

@media(min-width:991px) {
	.side-nav {
		position: fixed;
		top: 55px;
		left: 0px;
		width: 225px;
		margin: 0px;
		border: none;
		border-radius: 0;
		overflow-y: auto;
		background-color: #1b1b1b;
		bottom: 0;
		overflow-x: hidden;
		padding-bottom: 40px;
	}
	.side-nav>li>a {
		width: 225px;
        color:#999;
	}
	.side-nav li a:hover,
	.side-nav li a:focus {
		outline: none;
		background-color: #000 !important;
        color:#fff;
	}
}

.navbar-inverse {
    background-color: #1b1b1b !important; 
}

.navbar-inverse .navbar-nav>li>a {
    color: #9d9d9d;
}

.side-nav>li>ul {
	padding: 0;
}

.side-nav>li.subnav {
	padding-left: 25px;
	padding-bottom: 0;
	padding-top: 0;
	padding-right: 0;
}

.side-nav>li.hide {
	visibility: collapse;
}

.side-nav>li>ul>li>a {
	display: block;
	padding: 10px 15px 10px 38px;
	text-decoration: none;
	color: #999;
}

.side-nav>li>ul>li>a:hover {
	color: #fff;
}


/* Flot Chart Containers */

.flot-chart {
	display: block;
	height: 400px;
}

.flot-chart-content {
	width: 100%;
	height: 100%;
}


/* Custom Colored Panels */

.huge {
	font-size: 40px;
}

.panel-green {
	border-color: #5cb85c;
}

.panel-green > .panel-heading {
	border-color: #5cb85c;
	color: #fff;
	background-color: #5cb85c;
}

.panel-green > a {
	color: #5cb85c;
}

.panel-green > a:hover {
	color: #3d8b3d;
}

.panel-red {
	border-color: #d9534f;
}

.panel-red > .panel-heading {
	border-color: #d9534f;
	color: #fff;
	background-color: #d9534f;
}

.panel-red > a {
	color: #d9534f;
}

.panel-red > a:hover {
	color: #b52b27;
}

.panel-yellow {
	border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
	border-color: #f0ad4e;
	color: #fff;
	background-color: #f0ad4e;
}

.panel-yellow > a {
	color: #f0ad4e;
}

.panel-yellow > a:hover {
	color: #df8a13;
}