/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 16, 2017, 3:30:02 PM
    Author     : SBRIDEAU
*/

.navbar-dark .navbar-brand{
    color: #138496;
}

#home
 {
    color: red;
}

#dropdown01{
    color: lightcyan;
}


